.active {
  background-color: black !important;
}

.scale:hover {
  transform: scale(1.09);
  z-index: 2;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5) !important;
  transition: all 0.16s ease-in-out;
}

.p-14 {
  font-size: 14px;
}
.p-12 {
  font-size: 12px;
}
